.title {
  padding: 2% 2%;
  h2 {
    margin: 0;
  }
  a {
    word-wrap: break-word;
    text-decoration: none;
    font-size: 1.2rem;
    color: #2b3542;
    font-weight: bold;
  }
  a:hover {
    color: #f5df4d;
  }
}
.date {
  color: #a6a7a8;
  margin: 0;
  padding: 0 2%;
}
.category {
  background: #939597;
  height: 30px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  a {
    margin: 0;
    color: white;
    padding-left: 2%;
    font-weight: bold;
  }
  a:hover {
    color: #f5df4d;
  }
}
.article_container {
  background: white;
  box-shadow: 0 1px 4px gray;
}

.description {
  padding: 0 2% 2% 2%;
  p {
    font-size: 0.7em;
    color: #666;
    margin: 0;
    word-wrap: break-word;
  }
}
