html {
  background: #f1f1f1;
  font-size: 100%;
  body {
    padding: 0;
    margin: 0;
  }
}
* {
  box-sizing: border-box;
}
::selection {
  background: #f5df4d;
}
.wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  main {
    width: 80%;
  }
  aside {
    width: 20%;
  }
}
.container {
  padding: 20px;
}

.articles_container {
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}
a:hover {
  color: #0044cc;
}

.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f5df4d;
  opacity: 0.8;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    width: 896px;
  }
}

@media screen and (max-width: 896px) {
  .wrapper {
    width: 100%;
    main {
      width: 100%;
    }
    aside {
      display: none;
    }
  }
}
