.title {
  background: #939597;
  color: white;
  h1 {
    margin: 0;
    padding: 10px;
    word-break: break-word;
    text-align: center;
  }
}

.text_container {
  h2 {
    border-bottom: #939597 solid 5px;
    margin: 0;
  }
  h3 {
    background: #939597;
    margin: 30px 0;
    color: white;
  }
  strong {
    background: linear-gradient(transparent 70%, #f5df4d 40%);
  }
  a {
    color: #0033cc;
  }
  pre {
    font-size: 120%;
    line-height: 1.25;
    border-radius: 0.3rem;
    padding: 1rem;
    overflow-x: scroll;
  }
  ul,
  ol {
    background: #fcfcfc;
    padding: 0.5em 0.5em 0.5em 2em;
    border: solid 3px gray;
    ul,
    ol {
      background: none;
      border: none;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  table,
  th,
  td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
  }
  table {
    th {
      width: 150px;
      padding: 10px;
      font-weight: bold;
      vertical-align: top;
      background: #939597;
      color: #ffffff;
    }
    td {
      width: 350px;
      padding: 10px;
      vertical-align: top;
    }
  }
}
.main_container {
  background: white;
  padding: 35px;
}
.date {
  color: #a6a7a8;
}
@media screen and (max-width: 896px) {
  .main_container {
    padding: 20px;
  }
}
