.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #f5df4d;
  opacity: 0.8;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
